
@{
    ViewBag.Title = "Welcome to Bookself";
    Layout = "~/Views/Shared/_NotLoggedIn.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Rediscover Your Books</h2>
            <p class="intro-blurb">
                If you're anything like me, you collect books faster than you can read them. Bookself makes it easier to rediscover what you already own by using an easy tagging and browsing system.
            </p>
            <div class="login-register-btn-group">
                <button class="btn btn-lg">Login</button>
                <button class="btn btn-lg">Register</button>
            </div>
        </div>
    </div>
</div>


